* {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

main {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

body {
    /* background-image: url("background.png"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: hsl(0, 0%, 100%);
    background-attachment: fixed;
}

#video-area{
    position: fixed;
    z-index: -1;
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
    opacity: 0.8;
}

#video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 177.77777778vh; 
    height: 56.25vw;
    min-height: 100%;
    min-width: 100%;
}

p {
    font-size: 14px;
    color: #424242;
}

.main-class {
    position: relative;
    z-index: 2;
}

.fa-qrcode {
    color: #424242;
    width: 50px;
    height: 50px;
    top: -30px;
    margin-right: 25px;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 5px;
    padding: 10px;
    position: absolute; 
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.fa-qrcode:hover {
    background-color: #424242;
    color: #fff;
    cursor : pointer;
}

.my-picture {
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.profile-wrapper {
    position: relative;
    max-width: 480px;
    margin: 60px auto 40px;
}

.profile-head {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.title {
    font-size: 30px;
    color: #424242;
}

.title-wrapper {
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.content {
    max-width: 480px;
    margin: 40px auto;
}

@media screen and (max-width:1024px) {
    .content {
      max-width: 699px;
    }
  }

@media screen and (max-width:480px) {
    .content {
      max-width: 350px;
    }
  }

.btn-wrapper {
    margin-bottom: 15px;
}
/*ボタン*/
.btn05 {
    position: relative;
    display: inline-block;
    color: #333; 
    padding: 10px 20px;
    background:rgba(255, 255, 255, 0.93);
    opacity: 0.9;
    text-decoration: none;
    outline: none;
    transition: all .3s;
    transition-delay: .2s;
    width: 100%;
    border: solid 1px #333;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media screen and (max-width:1024px) {
    .btn05:active {
        background:#55c5e0;
        color: #fff; 
    }
}

@media screen and (min-width:1024px) {
.btn05:hover {
  background:#55c5e0;
  color: #fff; 
}
.btn05 span{
    display: block;
}
/*横線*/
.btn05::before,
.btn05::after{
    content:""; 
    position: absolute;
    width: 0;
    height: 1px;
    background: #153138;
    transition: all 0.2s linear;
}
/*縦線*/
.btn05 span::before,
.btn05 span::after{
    content:"";
    position: absolute;
    width:1px;
    height:0;
    background: #153138;
    transition: all 0.2s linear;
}
.btn05:hover::before,
.btn05:hover::after{
    width: 100%;
}
.btn05:hover span::before,
.btn05:hover span::after{
    height: 100%;
}
.bordercircle3::after{
    right:0;
    bottom: 0;
    transition-duration: 0.4s;
}
.bordercircle3 span::after{
    right:0;
    bottom: 0;
    transition-duration: 0.4s;
}
.bordercircle3::before{
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}
.bordercircle3 span::before{
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}
}

.btn-content-wrapper {
    display: flex;
}

.icon-wrapper {
    margin: 12px;
}
.note-icon-wrapper {
    margin: 9px 2px 9px 10px;
}


.btn-title {
    font-size: 19px;
    margin: auto;
    align-items: center;
}

.note-icon {
    border-radius: 50%;
    border: solid 1px #333;
    background-color: rgba(255, 255, 255, 0.93);
}

/* Facebook */
.btn05 .fa-facebook {
    color: royalblue; 
    transition: color .8s; 
  }

.btn05:hover .fa-facebook {
    color: #fff;
  }

/* Linke in */
.btn05 .fa-linkedin {
    color: #306DBE; 
    transition: color .8s; 
  }

.btn05:hover .fa-linkedin {
    color: #fff;
  }


.tag-wrapper {
    box-sizing: border-box;
    flex-wrap:wrap;
    text-align:  center;
    margin-top: 30px;
}

.tag {
	display: inline-block;
	margin: 3px;
	padding: .6em;
	line-height: 1;
	text-decoration: none;
	color: #424242;
	background-color: #fff;
    opacity: 0.9;
	border: 1px solid #424242;
	border-radius: 2em;
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.tag:before {
	content: "#";	
}

  html.modal-active, body.modal-active {
    overflow: hidden;
  }

  #modal-container {
    position:fixed;
    display:table;
    height:100%;
    width:100%;
    top:0;
    left:0;
    transform:scale(0);
    z-index:1;

    &.qr-code {
      transform:scale(1);
      .modal-background {
        background:rgba(0,0,0,.0);
        animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        .modal {
          opacity:0;
          animation: scaleUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }
      + .modal-content {
        animation: scaleBack .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
      &.out {
        animation: quickScaleDown 0s .5s linear forwards;
        .modal-background {
          animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          .modal {
             animation: scaleDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }
        + .modal-content {
          animation: scaleForward .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }
    }
    .modal-background {
      display:table-cell;
      background:rgba(0,0,0,.8);
      text-align:center;
      vertical-align:middle;
      .modal {
        background:white;
        padding:50px;
        display:inline-block;
        border-radius:3px;
        font-weight:300;
        position:relative;
        width: 300px; 
        max-width: 80%; 
        height: 400px;
        max-height: 80%; 
        h2 {
          font-size:25px;
          line-height:25px;
          margin-bottom:15px;
        }
        .modal-svg {
          position:absolute;
          top:0;
          left:0;
          height:100%;
          width:100%;
          border-radius:3px;
          rect {
            stroke: #fff;
            stroke-width: 2px;
            stroke-dasharray: 778;
            stroke-dashoffset: 778;
          }
        }
      }
    }
  }

  @keyframes fadeIn {
    0% {
      background:rgba(0,0,0,.0);
    }
    100% {
      background:rgba(0,0,0,.7);
    }
  }
  @keyframes scaleUp {
    0% {
      transform:scale(.8) translateY(1000px);
      opacity:0;
    }
    100% {
      transform:scale(1) translateY(0px);
      opacity:1;
    }
  }
  @keyframes scaleBack {
    0% {
      transform:scale(1);
    }
    100% {
      transform:scale(.85);
    }
  }
  @keyframes quickScaleDown {
    0% {
      transform:scale(1);
    }
    99.9% {
      transform:scale(1);
    }
    100% {
      transform:scale(0);
    }
  }
  @keyframes fadeOut {
    0% {
      background:rgba(0,0,0,.7);
    }
    100% {
      background:rgba(0,0,0,.0);
    }
  }
  @keyframes scaleDown {
    0% {
      transform:scale(1) translateY(0px);
      opacity:1;
    }
    100% {
      transform:scale(.8) translateY(1000px);
      opacity:0;
    }
  }
  @keyframes scaleForward {
    0% {
      transform:scale(.85);
    }
    100% {
      transform:scale(1);
    }
  }

.qr-code-wrapper {
    margin-top: 30px;
}


.carrer-wrapper {
    background-color: rgb(255, 255, 255,0.8);
    padding: 10px 20px 20px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.carrer {
    position: relative;
    max-width: 480px;
    margin: 60px auto 40px;
}

@media screen and (max-width:480px) {
    .carrer {
      max-width: 350px;
    }
  }

.year {
    font-size: 40px;
    color: #424242;
    border-bottom: 1px solid #1451b3;
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.position {
    font-size: 18px;
    margin-bottom: 4px;

}
.discription {
    font-size: 12px;
    color: #8b8b8b;
}




